body {
    background-color: #F0FFFF;
}
h1.header-example {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: teal;
}
p.color-example {
    color: darkslategray;
    border-style: double;
    border-color: teal;
    border-width: thick;
}
ul.list-example {
    list-style-type: circle;
    color: darkslategray; 
}
p.text-example {
    font-family: papyrus;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;
}
div.div-example {
    background-color: #AFEEEE;
    border-style:double ;
}